﻿@model Pulse.Models.Login

<h2>Вход на сайт</h2>

<form asp-action="Login" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly" />
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label" asp-for="Email">Введите Email</label>
            <div class="col-md-10">
                <input class="my-form-control col-md-1" type="text" asp-for="Email" />
                <span asp-validation-for="Email" />
            </div>
                
            </div>
        <div class="form-group">
            <label class="col-md-2 control-label" asp-for="Password">Введите пароль</label>
            <div class="col-md-10">
                <input class="my-form-control col-md-1" asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>
        </div>
        
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Login" class="btn" />
        </div>
    </div>
    </div>
</form>