﻿<div class="form-horizontal">
    <div class="form-group">
        <div class="col-md-10 control-label">
            <label>If you click "Force start", the previous process of checking the availability of the list of sites will be completed.</label>
        </div>
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-default" value="Force start" onclick="location.href = '@Url.Action("Start")'"/>
        </div>
    </div>

    <table class="table">
        <tr><td>№</td><td>Site Name</td><td>Active</td></tr>
        @foreach (var site in ViewBag.Sites)
        {
            if (site != null)
            {
                <tr><td>@site.Id</td><td> @site.Sitename </td><td>@site.Active</td></tr>
            }
        }
    </table>
</div>

