﻿@model Pulse.Models.Setting
<html>
<head>
    <script type="text/javascript">
        function renderSite() {
            var url = '@Url.Action("AddSite", "Home", new {site = "replaceVariable"})';
            url = url.replace("replaceVariable", $('#input-1').val());
            $('#renderdiv').load(url);
        };
        function clearSites() {
            var url = '@Url.Action("ClearSite", "Home")';
            $('#renderdiv').load(url);
        };
        function renderViewAllAlbums() {
            var url = '@Url.Action("AddSite", "Home")';
            $('#renderdiv').load(url);
        };
    </script>
</head>
<body>
    @using (Html.BeginForm("SaveSetting", "Home", FormMethod.Post, new {@class = "form-horizontal", role = "form"}))
    {
    <h4>Settings</h4>
    <hr />
    <div class="form-group">
        @Html.LabelFor(m => m.Time, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Time, new { type = "number", @class = "form-control col-md-1" })
            @Html.ValidationMessageFor(m => m.Time, null, new { @class = "text-danger col-xs-offset-1" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Save settings" />
        </div>
    </div>
    }
    <hr/>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-md-2 control-label" for="input-1">Site Name</label>
            <div class="col-md-10">
                <input class="form-control" id="input-1" name="input-1" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" class="btn btn-default col-xs-2 col-xs-offset-2" value="Add Site" onclick=renderSite() />
                <input type="button" class="btn btn-default col-xs-offset-2" value="Clear All Sites" onclick=clearSites() />
            </div>
        </div>
    </div>

    <table class="table">
        <tr><td>№</td><td>Site Name</td></tr>
        @foreach (var site in ViewBag.Sites)
        {
            if (site != null)
            {
                <tr><td>@site.Id</td><td> @site.Sitename </td></tr>
            }
        }
    </table>
</body>
</html>
